.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  margin-left: 14px;
  opacity: 0.8;
}

@media (min-width: 768px) {
  .icon {
    width: 24px;
    height: 24px;
    margin-left: 18px;
  }
}

.icon:hover {
  opacity: 1;
}

.sign-up__inp:hover {
  opacity: 1;
}

.sign-up__inp_error {
  border: solid 1px #e74a3b;
}

.sign-up__inp_war {
  border: solid 1px #f6c23e;
}

.sign-up__inp_suc {
  border: solid 1px #3cbc81;
}

.sing-up__inp_war-mess {
  position: absolute;
  top: 45px;
  font-size: 10px;
  line-height: 21px;
  color: #f6c23e;
}

@media (min-width: 768px) {
  .sing-up__inp_war-mess {
    top: 60px;
    font-size: 14px;
  }
}

@media (max-width: 1440px) and (max-height: 940px) {
  .sing-up__inp_war-mess {
    top: 40px;
    font-size: 10px;
  }
}

.sing-up__inp_suc-mess {
  position: absolute;
  top: 45px;
  font-size: 10px;
  line-height: 21px;
  color: #3cbc81;
}

@media (min-width: 768px) {
  .sing-up__inp_suc-mess {
    top: 60px;
    font-size: 14px;
  }
}

@media (max-width: 1440px) and (max-height: 940px) {
  .sing-up__inp_suc-mess {
    top: 40px;
    font-size: 10px;
  }
}

.sing-up__inp_error-mess {
  position: absolute;
  top: 45spx;
  font-size: 10px;
  line-height: 21px;
  color: #e74a3b;
}

@media (min-width: 768px) {
  .sing-up__inp_error-mess {
    top: 60px;
    font-size: 14px;
  }
}

@media (max-width: 1440px) and (max-height: 940px) {
  .sing-up__inp_error-mess {
    top: 4px;
    font-size: 10px;
  }
}
